.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1vw;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 40%;
  padding: 0px 5px;
}

.header__logo {
  font-size: 30px;
}
