$grey-color: #808080;
$avatar-border: #DC143C;
$dark-color: #000000;

.post {
  &-container {
    margin-bottom: 20px;
    border: 1px solid $grey-color;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    &-author {
      display: flex;
      align-items: center;

      &__logo {
        width: 3vw;
        border-radius: 50%;
        border: 2px solid $avatar-border;
      }

      &__title {
        font-size: 1.3vw;
        margin-left: 10px;
      }
    }
  }

  &-content {
    padding: 0 10px 10px;
    font-size: 0;
  }

  &-img {
    width: 100%;
  }

  &-description {
    &__emoji {
      padding: 10px 0;

      & > img {
        width: 1.5vw;
        cursor: pointer;
      }
    }

    &__title {
      font-size: 1.1vw;
      margin-bottom: 8px;
    }

    &__text {
      font-size: 1vw;
      color: $grey-color;
      margin-bottom: 8px;
    }
  }

  &-comments {
    &__title {
      font-size: 1.1vw;
      margin-bottom: 5px;
    }
  }

  &-comment {
    margin-bottom: 5px;

    &__author {
      font-size: 1vw;
      color: $dark-color;
      font-weight: bold;
      margin-right: 3px
    }

    &__text {
      font-size: 1vw;
      color: $grey-color;
    }
  }
}

.add {
  &-post > img{
    cursor: pointer;
    width: 1.5vw;
  }

  &-comment{
    width: 100%;
    padding: 0.6944vw 0.3472vw;
    border-radius: 5px;
    border: 1px solid $grey-color;
    font-size: 1.1vw;
  }
}
